h1 {
  font-family: 'Lato', sans-serif;
  font-weight: regular;
}

h2 {
  font-family: 'Lato', sans-serif;
}

.center {
    text-align: center;
}

.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.black {
  font-weight: 900;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
